<header class="header" [class.hide]="!isHeaderVisible">
    <div class="container">
        <a routerLink="/" class="logo">
            <!-- <img src="assets/images/logo.webp" alt="Miloserdov Logo" class="logo-img"> -->
        </a>

        <nav [class.active]="isMenuOpen">
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
            <a href="#about-me">About me</a>
            <a href="#projects">Projects</a>
            <a href="#contact">Contact</a>
            <!--<div class="theme-toggle">
        <input
          type="checkbox"
          id="theme-switch"
          [checked]="isDarkTheme"
          (change)="toggleTheme()"
        >
        <label for="theme-switch" class="switch">
          <svg class="switch-icon" xmlns="https://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            &lt;!&ndash; Moon Icon &ndash;&gt;
            <path class="moon" d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z" fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
            &lt;!&ndash; Sun Icon &ndash;&gt;
            <g class="sun">
              <path d="M12 3V4M12 20V21M4 12H3M6.31412 6.31412L5.5 5.5M17.6859 6.31412L18.5 5.5M6.31412 17.69L5.5 18.5001M17.6859 17.69L18.5 18.5001M21 12H20M16 12C16 14.2091 14.2091 16 12 16C9.79086 16 8 14.2091 8 12C8 9.79086 9.79086 8 12 8C14.2091 8 16 9.79086 16 12Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
          </svg>
        </label>
      </div>-->
        </nav>

        <button class="burger" [class.open]="isMenuOpen" (click)="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</header>
