<section id="hero" class="hero">
  <div class="animated-background"></div>
  <div class="hero-container">
    <div class="hero-content">
      <h1 class="fade-in">
        <span class="greeting">Hi, I'm</span>
        <span class="name highlight">Illya.dev</span>
      </h1>
      <p class="fade-in-delay">A Frontend Developer crafting modern web experiences with Angular</p>
      <div class="cta-buttons-container">
        <div class="cta-buttons fade-in-delay">
          <a href="#projects" class="btn primary">View My Work</a>
          <a href="#contact" class="btn secondary">Get in Touch</a>
        </div>
      </div>
    </div>
    @if (darkmode) {
    <div class="hero-image fade-in-delay">
      <img src="../../../assets/images/profile.png" alt="Illya thinking pose" class="profile-image">
    </div>
    }
    @else {
    <div class="hero-image fade-in-delay">
      <img src="../../../assets/images/profile_light.png" alt="Illya thinking pose" class="profile-image">
    </div>
    }
    
  </div>
</section> 